html, body {
  height:100%;
  width:100%;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-fixed-top {
  right: 20% !important;
  left: 20% !important;
}

.select2-container {
  width:100%;
  min-width: 200px;
  padding-left: 1px;
  padding-right: 1px;
  max-width: 567px;
  padding-top: 8px;
}

#map_canvas {
  min-height: 100%;
  width: auto;
  height: 100%;
}

#cboxOverlay {
  background: rgba(0,0,0,0) !important;
  opacity: 0.3 !important;
  width: auto;
  height: auto;
}

.popup {
  max-width: 750px;
}

.last_updated {
  padding: 5px;
  color: #428bca;
}

.phdmate-nav {
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.9;
  background-color: pink;
  padding-bottom: 10px;
  width: auto;
  max-width: 1170px;
}

#cool{
  display: none;
  padding: 5px;
  opacity: 0.9;
  background-color: pink;
  position:absolute;
  bottom:0;
  left:0;
  height: 30em;
  line-height: 2em;
  border: 1px solid #ccc;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

#info{
  /*padding: 5px;*/
  opacity: 0.9;
  background-color: pink;
  position:absolute;
  bottom:0;
  right:0;
}

.list-group-item {
  padding: 2px;
}
#cboxClose {
  top:0;
  right: 0;
  bottom: auto;
}

/*ul {
  padding-left: 5px;
  list-style-type: none;
}*/